<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :topic_id, class: 'control-label' %>
    <%= f.select :topic_id, Topic.all.collect{|t| [t.title, t.id]}, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :body, class: 'control-label' %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
