<div class="notifications row">
  <div class="heading clearfix">
    <%= t('notifications.all_notifications') %>

    <span class="pull-xs-right">
      <%= link_to t('notifications.clean_all'), notifications.clean_notifications_path, class: 'btn btn-sm btn-secondary', method: 'delete' %>
    </span>
  </div>
  <div class="list">
    <% if @notifications.blank? %>
      <div class="no-records"><%= t('notifications.no_records') %></div>
    <% else %>
      <%= render @notifications %>
    <% end %>
  </div>
  <%= will_paginate @notifications %>
</div>
